body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-image: url('media/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: rgb(132, 0, 255);
    padding: 30px;
    margin: 0;
    color: aliceblue;
}

article {
    list-style: none;
    margin-right: 10%;
}

p {
    padding: 10px;
    background-color: rgba(137, 103, 231, 0.7);
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.timer-container {
    border-radius: 25px;
    background: linear-gradient(145deg, #936ef7, #7b5dd0);
    box-shadow: 12px 12px 24px #6b50b4,
                -12px -12px 24px #a77eff;
    padding: 10px;
    margin-top: 10%;
}

.timer {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
}

.buttons {
    margin-top: 20px;
}
  
  button {
    margin-right: 10px;
}

footer{
    background-color: rgb(132, 0, 255);
}