body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-image: url('media/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: rgb(132, 0, 255);
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    color: aliceblue;
}

article {
    width: 80%;
    color: aliceblue;
}

p {
    padding: 10px;
    background-color: rgba(137, 103, 231, 0.7);
    border-radius: 10px;
}

.timer-container {
    border-radius: 25px;
    background: linear-gradient(145deg, #936ef7, #7b5dd0);
    box-shadow: 12px 12px 24px #6b50b4,
                -12px -12px 24px #a77eff;
    padding: 10px;
    margin: 5% 0 10% 0;
}

.timer {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
}

.buttons {
    margin-top: 20px;
}

button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

footer{
    background-color: rgb(132, 0, 255);
    width: 100%;
    color: aliceblue;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 20px 0;
    bottom: 0;
}